In [ ]:
# #tuple = same as list ho..list [ ] ma hunxa vane...tuple () ma hunxa
    # Indexed
    # Ordered
    # Multiple and duplicate data
    # imutable

In [ ]:
#ordered
a=('apple','ball','cat','dog','fish')
print(a)
print(type(a))

In [ ]:
#Indexed
a=('apple','ball','cat','dog','fish')
print (a[0:4:2])

In [ ]:

a=('apple','ball','cat','dog','fish')
b=(1,2,3,4,5)
c=a+b
c

In [ ]:
#imutable

In [ ]:
#Note : -Tuple ma append, extend, insert, no update, del, pop, remove

In [ ]:
a=('Apple',"BalL")
b=('Apple')
print(type(a))
print(type(b))

In [ ]:
t = tuple()
n = int(input('enter n ='))
for i in range(n):
    x=input("enter n=")
    t=t+(x,)
print(t)

In [ ]:
a=('Apple',"Ball","Cat")
b=list(a)
a=tuple(b)
a

In [ ]:
t=list("Hello")
t

In [ ]:
#Sum, min, sum, sorted kam garn milxa.

In [ ]:
#Function ma pani tuple use garn milxa..

In [ ]:
def cal():
    a=10
    v=15
    return v,a

print(cal())

In [ ]:
#
info=[]
n = int(input('enter n ='))
for i in range (n):
    name = input('enter name =')
    age = int(input('Enter age ='))
    add = input("Enter add =")
    data = [name, age, add]
    info.append(data)
    
print(info)

In [ ]:
a=[['ravi', 32, 'KTM'], ['shaym', 43, 'ktm']]
a.append(['Nabin',32,'chitwan'])
a

In [ ]:
a[0]

In [ ]:
a=[['ravi', 32, 'KTM'], ['shaym', 43, 'ktm']]
print(a[0][0])
print(a[0][1])
print(a[0][2])
print(a[1][0])
print(a[1][1])
print(a[1][2])

In [ ]:
print(a[1][1])

In [ ]:
#list vitra ko data change garn
a=[['ravi', 32, 'KTM'], ['shaym', 43, 'ktm']]
a[0]=['ram',34,'ktm']
a

In [ ]:
#list vitra ko data change garn
a=[['ravi', 32, 'KTM'], ['shaym', 43, 'ktm']]
a[0][0]='ram'
a

In [ ]:
#list vitra ko data change garn
a=[['ravi', 32, 'KTM'], ['shaym', 43, 'ktm']]
del a[0]

In [ ]:
a=[['ravi', 32, 'KTM'], ['shaym', 43, 'ktm']]
search = input("enter search value = ")
for i in a:
    if search in i:
        print(i)

In [ ]:
a=[['ravi', 32, 'KTM'], ['shaym', 43, 'KTM'],['hari',43,'Btw']]
search = input("enter search value = ")
for i in a:
    if search in i:
        a.remove(i)
print(a)

In [5]:
l=[]
a=[['ravi', 32, 'KTM'], ['shaym', 43, 'KTM'],['hari',43,'Btw']]
search = input("enter search value = ")
for i in a:
    if search in i:
        l.append(i)
        a.remove(i)
        
print(a)
print(l)

enter search value = ravi
[['shaym', 43, 'KTM'], ['hari', 43, 'Btw']]
[['ravi', 32, 'KTM']]