In [ ]:
import os
os.listdir()

In [ ]:
import os
os.remove('Ravi.txt')

In [ ]:
pwd

In [ ]:
!pip install mysql-connector

In [1]:
import mysql.connector
database = mysql.connector.connect(
    host ='localhost',
    user ='root',
    password ='',
    database ='ravi')
db = database.cursor()

In [2]:
db.execute('SELECT * FROM marksheet WHERE 1')
result = db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 78, 85, 81, 82, 84, 412, 'A')
(3, 'Janak', 89, 88, 88, 90, 80, 560, 'A')
(4, 'Hariram', 98, 78, 90, 97, 98, 600, 'A')
(5, 'Seeta', 80, 80, 89, 86, 90, 955, 'B')
(6, 'Seeta', 80, 80, 89, 86, 90, 955, 'B')
(7, 'Seeta', 80, 80, 89, 86, 90, 955, 'B')
(8, 'Jeenak', 80, 81, 89, 86, 90, 955, 'B')
(9, 'Janaki', 80, 81, 89, 86, 90, 955, 'B')
(10, 'ram', 90, 90, 90, 90, 90, 450, 'A')

In [3]:
# Using Delect option
db.execute('DELETE FROm marksheet WHERE id = 2')
database.commit()

In [4]:
db.execute('SELECT * FROM marksheet WHERE 1')
result = db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 78, 85, 81, 82, 84, 412, 'A')
(3, 'Janak', 89, 88, 88, 90, 80, 560, 'A')
(4, 'Hariram', 98, 78, 90, 97, 98, 600, 'A')
(5, 'Seeta', 80, 80, 89, 86, 90, 955, 'B')
(6, 'Seeta', 80, 80, 89, 86, 90, 955, 'B')
(7, 'Seeta', 80, 80, 89, 86, 90, 955, 'B')
(8, 'Jeenak', 80, 81, 89, 86, 90, 955, 'B')
(9, 'Janaki', 80, 81, 89, 86, 90, 955, 'B')
(10, 'ram', 90, 90, 90, 90, 90, 450, 'A')

In [6]:
#Using update option
initial_name=input('Eter Name =')
final_name =input("ent final name ")

db.execute('UPDATE marksheet SET Name ='{final_name}' WHERE Name = '{initial_name}'')
database.commit()

SyntaxError: invalid syntax (Temp/ipykernel_12364/4110813518.py, line 5)

In [2]:
db.execute('SELECT ID, Name, Physics, Math, English, Chemistry, Nepali, Total, Grade FROM marksheet WHERE 1')
result = db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 78, 85, 81, 82, 84, 412, 'A')
(3, 'Janak', 89, 88, 88, 90, 80, 560, 'A')
(4, 'Hariram', 98, 78, 90, 97, 98, 600, 'A')

In [5]:
db.execute('SELECT ID, Name, Total, Grade FROM marksheet WHERE 1')
result = db.fetchall()
for x in result:
    print(x)

(1, 'Ram', 412, 'A')
(3, 'Janak', 560, 'A')
(4, 'Hariram', 600, 'A')
(5, 'Seeta', 955, 'B')
(6, 'Seeta', 955, 'B')
(7, 'Seeta', 955, 'B')
(8, 'Jeenak', 955, 'B')
(9, 'Janaki', 955, 'B')
(10, 'ram', 450, 'A')

In [8]:
db.execute("INSERT INTO marksheet(Name, Physics, Math, English, Chemistry, Nepali, Total, Grade) VALUES ('Seeta', 80, 80, 89, 86, 90, 955, 'B')")
database.commit()

In [9]:
db.execute("INSERT INTO marksheet(ID, Name, Physics, Math, English, Chemistry, Nepali, Total, Grade) VALUES (7, 'Seeta', 80, 80, 89, 86, 90, 955, 'B')")
database.commit()

In [13]:
db.execute("INSERT INTO marksheet(Name, Physics, Math, English, Chemistry, Nepali, Total, Grade) VALUES ('Jeenak', 80, 81, 89, 86, 90, 955, 'B')")
database.commit()

In [15]:
db.execute("INSERT INTO marksheet(Name, Physics, Math, English, Chemistry, Nepali, Total, Grade) VALUES ('Janaki', 80, 81, 89, 86, 90, 955, 'B')")
database.commit()

In [6]:
n = int(input('Enter n ='))
for i in range (n):
    Name = input ('Enter name =')
    Physics= int(input ('Enter physics ='))
    Math = int(input('Enter math ='))
    English = int(input('Enter eng ='))
    Chemistry = int(input("Enter Chemistry ="))
    Nepali = int(input('Enter Nepali ='))
    Total = sum([Physics,Math,English,Chemistry,Nepali])
    per = Total/5
    if per > 80:
        Grade = "A"
    elif per > 60:
        Grade ="B"
    elif per > 40:
        Grade ="C"
    else:
        Grade = "F"
    db.execute(f"INSERT INTO marksheet(Name, Physics, Math, English, Chemistry, Nepali, Total, Grade) VALUES ('{Name}', {Physics}, {Math}, {English}, {Chemistry}, {Nepali}, {Total}, '{Grade}')")
database.commit()

Enter n =1
Enter name =Ravi
Enter physics =98
Enter math =99
Enter eng =90
Enter Chemistry =99
Enter Nepali =98