# Loop

In [ ]:
#for loop
#while loop

In [2]:
# Sytenx
# for i (variable) in range():
#     Print


# Exampale

In [8]:
for i in range(5):
    i = input("Typeword") **for loop vanda tal user le value diya ko xa van..
    print(i)

Typewordhi
hi
Typewordhi
hi
Typewordhi
hi
Typewordhi
hi
Typewordhi
hi

In [10]:
x = input("Typeword")
for i in range(5):
    print(x)

Typewordfdf
fdf
fdf
fdf
fdf
fdf

In [4]:
for i in range(5):
    print(i,"Ravi Dahal" )

0 Ravi Dahal
1 Ravi Dahal
2 Ravi Dahal
3 Ravi Dahal
4 Ravi Dahal

In [6]:
for i in range(1,5):
    print(i,"Ravi Dahal" )

1 Ravi Dahal
2 Ravi Dahal
3 Ravi Dahal
4 Ravi Dahal

In [7]:
for i in range(0,10,2):
    print(i,"Ravi Dahal" )

0 Ravi Dahal
2 Ravi Dahal
4 Ravi Dahal
6 Ravi Dahal
8 Ravi Dahal

In [11]:
n = int(input("enter n= "))
for i in range(1,11):
    print(i*n)

enter n= 4
4
8
12
16
20
24
28
32
36
40

In [14]:
n = int(input("Enter number for getting table = "))
for i in range(1,11):
    print(i,"*",i,"=",i*n)

Enter number for getting table = 6
1 * 1 = 6
2 * 2 = 12
3 * 3 = 18
4 * 4 = 24
5 * 5 = 30
6 * 6 = 36
7 * 7 = 42
8 * 8 = 48
9 * 9 = 54
10 * 10 = 60

In [15]:
for i in range(2):
    x = input("Enter x =")

Enter x =1
Enter x =2

In [25]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x ="))
    s = s+x
print(s)

Enter n = 3
Enter x =3
Enter x =3
Enter x =3
9

In [32]:
s = str()
n = int(input("eter n ="))
for i in range(n):
    name = input("Enter the name =")
    phone = input("Enter phone no. =") 
    s = s+name+" "+ str(phone)+"\n"
print(s)

eter n =3
Enter the name =Ravi
Enter phone no. =98
Enter the name =ram
Enter phone no. =98
Enter the name =ravi
Enter phone no. =09
Ravi 98
ram 98
ravi 09

In [35]:
s = str()
n = int(input("eter n ="))
for i in range(n):
    name = input("Enter the name =")
    phone = input("Enter phone no. =") 
    print(s)
    s = s+name+" "+ str(phone)+"\n"

eter n =3
Enter the name =ravi
Enter phone no. =09

Enter the name =ram
Enter phone no. =98
ravi 09

Enter the name =hari
Enter phone no. =87
ravi 09
ram 98

In [38]:
n = int(input("enter n= "))
for i in range(n,1,-1):
    s=i*n
    print(s)

enter n= 5
25
20
15
10

In [49]:
# 5=1*2*3*4*5
s = n
n = int(input("enter n= "))
for i in range(n-1,1,-1):
    s=s*i
    print(s)

enter n= 3
10

In [ ]:
#for tomorrow
# Contral statments
# While loop