In [ ]:
#Dictionary
    #Indexed
    #Ordered
    #Multiple data
    #Mutable

In [ ]:
#example of Indexed :- 
#Syntex
# d = dict()
# d = {<key>:<value>,<key>:<value>}

d = {'a':"Apple",'b':"Ball",'c':'cat'}
print(d)
print(d['a'])

In [ ]:
d = {'a':"Apple",'b':"Ball",'c':'cat'}
print(d)
print(d['a'])
print(d["b"])

In [ ]:
#example of ordered :- 
d = {'a':"Apple",'b':"Ball",'c':'cat'}
print(d)
print(d['a'])

In [ ]:
d = {'a':"Apple",'b':"Ball",'c':'cat'}
print(d)

print(len(d))

In [ ]:
#Mutable
d = {'a':"Apple",'b':"Ball",'c':'cat'}
d['a'] = "Mango"
print(d)

In [ ]:
d={}
d["a"] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'cat'
d['e'] = 'Egg'
print(d)

In [ ]:
d={}
n = int(input("Enter n ="))
for i in range (n):
    name = input ("Enter Name =")
    phone = input ('Enter phone =')
    d[name] = phone
print(d)

In [ ]:
# key lai mtra print garn ko lagi
a = {'Ravi Dahal': '434332423423', 'Ram': '342324234', 'shyam ': '342432432'}
for i in a:
    print (i)

In [ ]:
# value lai mtra print garn ko lagi
a = {'Ravi Dahal': '434332423423', 'Ram': '342324234', 'shyam ': '342432432'}
for i in a.values():
    print (i)

In [ ]:
# key and value lai separatel print garn ko lagi
a = {'Ravi Dahal': '434332423423', 'Ram': '342324234', 'shyam ': '342432432'}
for i in a.items():
    print (i)

In [ ]:
a = {'Ravi Dahal': '434332423423', 'Ram': '342324234', 'shyam ': '342432432'}
for i in a.items():
    print (i)

In [ ]:
a = {'Ravi Dahal': '434332423423', 'Ram': '342324234', 'shyam ': '342432432'}
for i in a.items():
    print (i[0])

In [ ]:
# DEL
# POP

In [ ]:
a = {'Ravi Dahal': '434332423423', 'Ram': '342324234', 'shyam ': '342432432'}
a["Ram"]

In [ ]:
a = {'Ravi Dahal': '434332423423', 'Ram': '342324234', 'shyam ': '342432432'}
del a['Ram']
print(a)
a["Ravi Dahal"] ="9843433952"
print (a)

In [ ]:
#pop = b syntax le ravi ko value lai cut garer print gareko
a = {'Ravi Dahal': '434332423423', 'Ram': '342324234', 'shyam ': '342432432'}
b=a.pop("Ravi Dahal")
print(a)
print(b)

In [ ]:
#pop
a = {'Ravi Dahal': '434332423423', 'Ram': '342324234', 'shyam': '342432432'}
print (a)
b=a.pop("Ravi Dahal")
print(a)
print(b)

In [ ]:
#list inside dictionary
a = {'Ravi Dahal': [434332423423,34324032432], 'Ram': [342324234,3432434324],'shyam': [342432432,332433432]}
print(a["Ram"])
print(a['shyam'])

In [ ]:
a = {'Ravi Dahal': [434332423423,34324032432], 'Ram': [342324234,3432434324],'shyam': [342432432,332433432]}
a ['Ram']=[3434343244,4324324423]
a

In [ ]:
a = {'Ravi Dahal': [434332423423,34324032432], 'Ram': [342324234,3432434324], 'shyam': [342432432,332433432]}
a = ['Ram'][0] = 9084324234
a

In [2]:
a = {'Ravi Dahal': [434332423423,34324032432], 'Ram': [342324234,3432434324], 'shyam': [342432432,332433432]}
a['Ram'].append(980234242)
a['shyam'].append(980434432)
a

{'Ravi Dahal': [434332423423, 34324032432],
 'Ram': [342324234, 3432434324, 980234242],
 'shyam': [342432432, 332433432, 980434432]}

In [4]:
d={}
n = int(input("Enter n ="))
for i in range (n):
    name = input ("Enter Name =")
    phone_ntc = input ('Enter ntc phone =')
    phone_ncell = input ('Enter ntc phone =')
    d[name] = [phone_ntc,phone_ncell]
print(d)

Enter n =2
Enter Name =Ravi Dahal
Enter ntc phone =3433432
Enter ntc phone =234243
Enter Name =Ravi Dahal
Enter ntc phone =34324242
Enter ntc phone =43423
{'Ravi Dahal': ['34324242', '43423']}

In [6]:
#Disctionary list 
d=[{'Name':'Ram','NTC':9800000000,'ncell':9800000001},
   {'Name':'Hari','NTC':9811111111,'ncell':9801111111},
   {'Name':'shyam','NTC':9822222222,'ncell':9802222222}]
print(d)

[{'Name': 'Ram', 'NTC': 9800000000, 'ncell': 9800000001}, {'Name': 'Hari', 'NTC': 9811111111, 'ncell': 9801111111}, {'Name': 'shyam', 'NTC': 9822222222, 'ncell': 9802222222}]

In [7]:
print(d[0]["Name"])

Ram

In [8]:
print(d[2])

{'Name': 'shyam', 'NTC': 9822222222, 'ncell': 9802222222}

In [9]:
print(d[2]["NTC"])

9822222222

In [12]:
#IRD ma hami jasari PAN number rakher serach gaarinxa..tiyo yasari search garn milxa..

d=[{'Name':'Ram','NTC':9800000000,'ncell':9800000001},
   {'Name':'Hari','NTC':9811111111,'ncell':9801111111},
   {'Name':'shyam','NTC':9822222222,'ncell':9802222222}]
for i in d:
    if i['Name'] =="Ram":
        print(i)

{'Name': 'Ram', 'NTC': 9800000000, 'ncell': 9800000001}

In [16]:
l= []
n = int(input("Enter n ="))
for i in range (n):
    name = input("Enter name =")
    ncell = int(input("Enter ncell ="))
    ntc = int(input("Enter ntc ="))
    data = {'Name':name,'ncell':ncell,'NTC':ntc}
    l.append(data)
print(l)

Enter n =2
Enter name =Ram
Enter ncell =9811111111
Enter ntc =980111111
Enter name =Hari
Enter ncell =9822222222
Enter ntc =983333333
[{'Name': 'Ram', 'ncell': 9811111111, 'NTC': 980111111}, {'Name': 'Hari', 'ncell': 9822222222, 'NTC': 983333333}]